@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* /////////////////////////////////////навигация */

.navigation {
  display: flex;
  height: 65px;
}

.page-header-logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 470px;
  height: 66px;
  list-style: none;
}

.navigation-user-list {
  display: flex;
  max-width: 310px;
  margin-left: auto;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* как сделать линию как в макете - чтобы по ширине слова, а не паддингов? */

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

/* здесь у меня что-то не ладится с расположением значков и кнопки */

.navigation-user-link {
  display: block;
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  min-width: 19px;
  min-height: 17px;
}

.search {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  width: 42px;
}


.favorite {
  background-image: url("/images/favorite.svg");
  background-repeat: no-repeat;
  width: 42px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* задаю марджины как в макете - кнопка сползает вниз. Как исправить? */
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  height: 37px;
  width: 160px;
  padding: 0;
  margin-right: 70px;
  margin-left: 20px;
}

.first-button {
  display: inline-block;
  margin: 0;
  width: 140px;
  margin-right: 20px;
}

.second-button {
  display: inline-block;
  margin: 0;
  background: #82B3D3;
  margin-left: 20px;
  width: 140px;
}

.selected-button {
  display: inline-block;
  margin: 0;
  background: #7DB54F;
  margin-left: 20px;
}

.invitation-button {
  margin: 56px 313px 93px;
  display: inline-block;
  width: 574px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  display: inline-block;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
}

.stars-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  left: 160px;
  top: 0;
}

.apply-button {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.intro {
  background-image: url("/images/divider.svg"), url("/images/background-index.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  padding-top: 51px;
  padding-bottom: 82px;
}

.intro-img {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
  margin-top: 63px;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  list-style-type: none
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

}

.advantages-item-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 30px 0 0;
}

.advantages-advices-description {
margin: 30px 0 0;
}

.item {
  width: 400px;
  padding-top: 92px;
  padding-right: 85px;
  padding-bottom: 92px;
  padding-left: 85px;
  box-sizing: border-box;

}

.advantages-advices {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  color: #000000;
  background: #ffffff;
  list-style-type: none
}

.advantages-advices-item-house {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 182px 85px 81px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/icons/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
}

/* почему у меня слова топовый фирменный бургер не встают в одну строку, как на макете, все паддинги соблюдены и шрифт проверила..? */

.advantages-advices-item-burger {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 182px 85px 81px;
  box-sizing: border-box;
  background: #ffffff;
  background-image: url("/images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
}

.advantages-advices-item-gift {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 182px 85px 81px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
}

.advantages-item-road {
  width: 400px;
  padding: 103px 85px 102px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-bridge-area,
.advantages-item-tourist {
  width: 400px;
  padding: 103px 85px 102px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-town,
.advantages-item-bridge {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  background: #82B3D3;
}

/* ////////////////////////подписка */

.invitation {
  text-align: center;
}

.invitation-title {
  margin-top: 91px;
  margin-bottom: 29px;
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-description {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-index {
  display: flex;
  flex-direction: column;
  padding: 94px 200px;
  width: 800px;
  height: 223px;
  text-align: center;
  background-image: url("/images/background-index-subscribe.jpg");
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-catalog {
  display: flex;
  flex-direction: column;
  padding: 94px 200px;
  width: 800px;
  height: 223px;
  text-align: center;
  color: #000000;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* чтото не то делаю, да? Как форму сделать как а макете? */

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}


/* ///////////////////////////////////футер */

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 150px;
}

.social-item {
  width: 47px;
  height: 40px;
}

.footer-htmlacademy {
  margin-left: auto;
  max-width: 115px;
}

.footer-phone {
  margin-left: auto;
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.vk {
  background-image: url("/images/social/vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.telegram {
  background-image: url("/images/social/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background-image: url("/images/social/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* ////////////////////////////////////каталог */

.inner-header-title {
  margin-top: 35px;
  margin-left: 70px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.homepage {
  background-image: url("/images/homepage.svg");
  background-repeat: no-repeat;
  width: 12px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 72px;
}

/* картинка не встаёт на высоту контейнера страницы, зазор получается между фото-фоном и навигацией. Как исправить? */

.hotels-choice {
  background-image: url("/images/background-catalog.jpg");
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.hotel-filter-form {
  display: flex;
  width: 1060px;
  padding: 40px 70px 70px;
}

.hotel-filter-list {
  width: 150.43px;
  list-style: none;
  padding: 0;
  margin-right: 70px;
}

.price {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-left: 97px;
}

.apply-reset {
  padding: 0;
  margin-left: 70px;
  width: 160px;
  box-sizing: border-box;
}


.hotels-select {
  display: flex;
  align-items: center;
  padding-left: 72px;
}

.hotels-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.hotel-filter-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


/* //////////////////карточки отелей */

.select-control {
  margin-left: auto;
  margin-right: 78px;
}

.icons-list {
  display: flex;
  margin-right: 71px;
  list-style-type: none;
}

.icons-list-link {
  width: 48px;
  height: 48px;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
}


.view-cards {
  background-image: url("/images/icons/View-1.svg");
  background-repeat: no-repeat;
}

.view-screen {
  background-image: url("/images/icons/View-2.svg");
  background-repeat: no-repeat;
}

.view-list {
  background-image: url("/images/icons/View-3.svg");
  background-repeat: no-repeat;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 18px;
  list-style: none;
}

.hotel-card-buttons {
  width: 300px;
  display: flex;
}

.hotels-card {
  width: 340px;

}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}



/* как мне пользоваться валидатором в редакторе кода? он не открывает свою панель чтобы показать ошибки */

/* ////////////////////////////////пагинация */

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  display: block;
}

.pagination-item {
  margin-right: 8px;
}

/* text-align: center;  не действует на расположение цифр посередине относительно высоты кнопки. Также все надписи в кнопках не по центру, а вверху. ЧТо делать? */

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
}

.select-amount {
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}
