@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* /////////////////////////////////////навигация */

.navigation {
  display: flex;
  min-height: 65px;
}

.page-header-logo {
  position: absolute;
  display: block;
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 470px;
  height: 66px;
  list-style: none;
  margin-left: 239px;
}

.navigation-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 17px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
  text-decoration-line: underline;
  text-underline-offset: 26px;
  text-decoration-thickness: 2px;
  text-decoration-color: #756257;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-user-list {
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
  display: flex;
  max-width: 310px;
  list-style: none;
}

.navigation-user-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.search {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  width: 18px;
  background-position: center;
  min-height: 18px;
  padding: 23px 1px 24px;
  margin-right: 12px;
}

.favorite {
  position: relative;
  background-image: url("/images/favorite.svg");
  background-repeat: no-repeat;
  width: 18px;
  background-position: center;
  min-height: 18px;
  padding: 24px 0;
  margin-right: 12px;
}

.likes-amount {
  color: #ffffff;
  font-size: 10px;
  background: #7DB54F;
  border-radius: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 14px;
  top: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  width: 130px;
  padding: 9px 15px 8px;
  margin-left: 20px;
  cursor: pointer;
}

.button:hover ,
.button:focus  {
  background: #615048;
}

.button:active {
  background:  #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background:  #E5E5E5;
  color: #FFFFFF;
}

.first-button {
  margin: 0;
  width: 110px;
  margin-right: 20px;
  padding: 9px 15px 8px;
}

.second-button {
  margin: 0;
  background: #82B3D3;
  width: 120px;
  padding: 9px 10px 8px;
}

.second-button:hover,
.second-button:focus  {
  background: #68A2CA;
}

.second-button:active {
  background:  #82B3D3;
}

.selected-button {
  margin: 0;
  background: #7DB54F;
  width: 120px;
  padding: 9px 10px 8px;
}

.selected-button:hover ,
.selected-button:focus  {
  background: #6C9E42;
}

.selected-button:active {
  background:  #7DB54F;
}

.invitation-button {
  margin: 56px 313px 93px;
  display: inline-block;
  width: 574px;
  padding: 12px 0;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
  margin-left: 0;
}

.subscribe-button:hover,
.subscribe-button:focus  {
  background: #68A2CA;
}

.subscribe-button:active {
  background:  #82B3D3;
}

.stars-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  margin: 0;
  margin-left: auto;
  padding: 9px 17px 8px;
  box-sizing: border-box;
}

.apply-button {
  margin: 0;
  width: 160px;
  padding: 14px 15px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.reset-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  width: 65px;
  margin-top: 20px;
  height: 20px;
  box-sizing: border-box;
  padding: 2px;
  cursor: pointer;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus {
  color: #FFFFFF;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-header {
  position: relative;
  color: #000000;
  background: #ffffff;
}

.intro {
  background-image: url("/images/divider.svg"), url("/images/background-index.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 101% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center calc(100% + 1px), top;
  padding-top: 51px;
  padding-bottom: 82px;
}

.intro-img {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
  margin-top: 63px;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  list-style-type: none
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

}

.advantages-item-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 30px 0 0;
}

.advantages-advices-description {
  margin: 30px 0 0;
}

.item {
  width: 400px;
  padding-top: 92px;
  padding-right: 85px;
  padding-bottom: 92px;
  padding-left: 85px;
  box-sizing: border-box;

}

.advantages-advices {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  color: #000000;
  background: #ffffff;
  list-style-type: none
}

.advantages-advices-item-house {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 182px 85px 81px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/icons/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
}

.advantages-advices-item-burger {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 182px 79px 81px;
  box-sizing: border-box;
  background: #ffffff;
  background-image: url("/images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
}

.advantages-advices-item-gift {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 182px 85px 81px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
}

.advantages-item-road {
  width: 400px;
  padding: 103px 85px 102px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-bridge-area,
.advantages-item-tourist {
  width: 400px;
  padding: 103px 85px 102px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-town,
.advantages-item-bridge {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  background: #82B3D3;
}

/* ////////////////////////подписка */

.invitation {
  text-align: center;
}

.invitation-title {
  margin-top: 91px;
  margin-bottom: 29px;
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-description {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-index {
  display: flex;
  flex-direction: column;
  padding: 94px 200px;
  width: 800px;
  height: 223px;
  text-align: center;
  background-image: url("/images/background-index-subscribe.jpg");
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-catalog {
  display: flex;
  flex-direction: column;
  padding: 94px 200px;
  width: 800px;
  height: 223px;
  text-align: center;
  color: #000000;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.subscribe-form-input {
  width: 600px;
  border-radius: 10px 0 0 10px;
}

/* ///////////////////////////////////футер */

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 150px;
}

.social-item {
  position: relative;
  width: 47px;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  margin-left: auto;
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: #756157;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-htmlacademy {
  display: block;
  margin-left: auto;
  max-width: 115px;
}

.footer-htmlacademy-link:hover svg,
.footer-htmlacademy-link:focus svg {
  fill: #756157;
}

.footer-htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* ////////////////////////////////////каталог */

.inner-header-title {
  margin-top: 0;
  margin-left: 70px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 72px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item::before {
  order: 2;
  padding-right: 10px;
  padding-left: 10px;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 5px 6px;
  background-position: center;
  content: "";
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.hotels-choice {
  padding-top: 35px;
  background-image: url("/images/background-catalog.jpg");
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hotel-filter-fieldset {
  border: none;
}

.hotel-filter-form {
  display: flex;
  width: 1060px;
  padding: 40px 70px 70px;
}

.hotel-filter-list {
  width: 150.43px;
  list-style: none;
  padding: 0;
  margin-right: 70px;
}

.price {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-left: 97px;
}

.apply-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-left: 70px;
  width: 160px;
  box-sizing: border-box;
}


.hotels-select {
  display: flex;
  align-items: center;
  padding-left: 72px;
}

.hotels-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.hotel-filter-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


/* //////////////////карточки отелей */

.select-control {
  margin-left: auto;
  margin-right: 78px;
}

.icons-list {
  display: flex;
  margin-right: 71px;
  list-style-type: none;
}

.icons-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
  width: 44px;
  height: 44px;
  color: #000000;
  text-decoration: none;
}

.icons-list-link:hover {
  border-color: #000000;
}

.icons-list-link:focus {
  border-color: #68A2CA;
}

.icons-list-link:active {
  border-color: #000000;
}

.hotels-list {
  display: grid;
  gap: 40px 58px;
  list-style: none;
  grid-template-columns: repeat(3, 300px);
  padding-left: 73px;
  margin-bottom: 96px;
}

.hotels-card {
  width: 300px;
}

.hotels-card-image {
  display: block;
}

.hotels-card-title {
  margin: 0;
  margin-top: 16px;
}

.hotels-card-info {

  display: flex;
}

.hotels-card-info-left {
  width: 160px;
}

.hotel-card-buttons {
  width: 300px;
  display: flex;
  margin-top: 16px;
}

.hotels-card-rating {
  display: flex;
  margin-top: 16px;
}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-info {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.stars {
  margin: auto 0;
  width: 89px;
  height: 17px;
  background-image: url("/images/star.svg");
  background-repeat: space;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

/* ////////////////////////////////пагинация */

.pagination-container {
  display: flex;
  padding-left: 73px;
  padding-right: 71px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  width: 60px;
  padding-top: 11px;
  padding-bottom: 12px;
  display: block;
}

.pagination-link:hover,
.pagination-link:focus  {
  background: #68A2CA;
}

.pagination-link:active {
  background:  #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item {
  margin-right: 8px;
}

.pagination-current {
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
}

.select-amount {
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
