@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background: #ffffff;
}

.navigation-user-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
}


.second-button {
  background: #82B3D3;
}

.selected-button {
  background: #7DB54F;
}

.invitation-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.stars-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  left: 160px;
  top: 0px;
}

.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.intro {
  background-image: url("/images/background-index.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  list-style: none
  }

.advantages-item {
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-town {
  color: #ffffff;
  background: #82B3D3;
}

.advantages-item-bridge {
  color: #ffffff;
  background: #82B3D3;
}

.advantages-advices-item-burger {
  background: #FFFFFF;
}

.invitation {
  text-align: center;
}

.subscribe-index {
  text-align: center;
  background-image: url("/images/background-index-subscribe.jpg");
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-catalog {
  text-align: center;
  color: #000000;
}

.invitation-title {
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-title {
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}


.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.inner-header {
  background-image: url("/images/background-catalog.jpg");
  color: #ffffff;
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.hotels-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.icons-list-item {
  color: #000000;
  background: #ffffff;
  text-decoration: none;
}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #82B3D3;
}

.hotel-filter-item {
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.price {
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
}

.select-amount {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

