@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100;
}

.main-container {
  flex-grow: 1;
}

/* /////////////////////////////////////навигация */

.navigation {
  display: flex;
}

.page-header-logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 470px;
  list-style: none;
}


.navigation-user-list {
  max-width: 310px;
  margin-left: auto;
  list-style: none;
}

.navigation-user-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.search {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
}

.favorite {
  background-image: url("/images/favorite.svg");
  background-repeat: no-repeat;
}

.visually-hidden {
  visibility: hidden;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
}


.second-button {
  background: #82B3D3;
}

.selected-button {
  background: #7DB54F;
}

.invitation-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.stars-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  left: 160px;
  top: 0px;
}

.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.intro {
  background-image: url("/images/divider.svg"), url("/images/background-index.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.intro-img {
  display: block;
  margin: 0 auto;
}

.background-position {}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  list-style: none
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;

}

.item {
  width: 400px;
  padding-top: 92px;
  padding-right: 85px;
  padding-bottom: 92px;
  padding-left: 85px;
  box-sizing: border-box;
}

.advantages-advices {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  color: #000000;
  background: #ffffff;
  list-style: none
}

.advantages-advices-item-house {
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/icons/house.svg");
  background-repeat: no-repeat;
}

.advantages-advices-item-burger {
  background: #ffffff;
  background-image: url("/images/icons/burger.svg");
  background-repeat: no-repeat;
}

.advantages-advices-item-gift {
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/icons/gift.svg");
  background-repeat: no-repeat;
}


.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-bridge-area,
.advantages-item-tourist {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-town,
.advantages-item-bridge {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  background: #82B3D3;
}

.invitation {
  text-align: center;
}

.subscribe-index {
  text-align: center;
  background-image: url("/images/background-index-subscribe.jpg");
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-catalog {
  text-align: center;
  color: #000000;
}

.invitation-title {
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-title {
  font-family: "PT-Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* ///////////////////////////////////футер */

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  width: 150px;
  margin-right: 30px;
}

.htmlacademy-link {
  margin-left: auto;
  max-width: 115px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.vk {
  background-image: url("/images/social/vkontakte.svg");
  background-repeat: no-repeat;
}

.telegram {
  background-image: url("/images/social/telegram.svg");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("/images/social/youtube.svg");
  background-repeat: no-repeat;
}

/* ////////////////////////////////////каталог */

.inner-header {
  background-image: url("/images/background-catalog.jpg");
  color: #ffffff;
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.hotels-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotels-select {
  width: 1057px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.icons-list-item {
  color: #000000;
  background: #ffffff;
  text-decoration: none;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1056px;
  list-style: none;
}

..hotels-card {
  width: 340px;

}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #82B3D3;
}

.hotel-filter-item {
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.price {
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

                             /* ////////////////////////////////пагинация */

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
}

.select-amount {
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.papagination-and-select {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
}